<div class="registration-edit-container" style="margin-right: 4px; margin-bottom: 4px;">
  <h2 class="edit-title" style="text-align: center; color: white; margin-left: 38px; margin-top: 15px;">Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs" style="margin-right: 20px; margin-left: 20px;">
      <%= f.input :email, required: true, autofocus: true, input_html: { class: "form-control" } %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p class="confirmation-pending">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :username,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "username", class: "form-control" }%>
      <%= f.input :name,
                  required: false,
                  input_html: { autocomplete: "name", class: "form-control" }%>
      <%= f.input :bio,
                  required: false,
                  as: :text,
                  input_html: { rows: 3, class: "form-control" }%>
      <%= f.input :image,
                  as: :file,
                  required: false,
                  input_html: { accept: 'image/*', class: "form-control" }%>
      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password", class: "form-control" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password", class: "form-control" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password", class: "form-control" } %>
    </div>

    <div class="form-actions" style="text-align: center; display: flex; justify-content: center; margin-bottom: 5px;">
      <%= f.button :submit, "Update", class: "btn btn-primary", style: "margin-right: 10px;" %>
      <%= button_to "Cancel", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
    </div>
  <% end %>



  <%= link_to "Back", :back, class: "btn btn-secondary" %>
</div>
