<div class="user-profile">
  <div class="profile-card card bg-white shadow-sm rounded">
    <div class="row no-gutters align-items-center">
      <div class="col-4">
        <% if @user.image.attached? %>
          <div class="d-flex justify-content-center">
            <%= cl_image_tag @user.image.key, class: "avatar avatar-large profile-picture img-fluid rounded-circle", style: "width: 100px; height: 100px; object-fit: cover;", onerror: "this.style.display='none'" %>
          </div>
        <% else %>
          <%= image_tag "default_avatar.png", class: "avatar avatar-large profile-picture img-fluid rounded-circle", style: "width: 100px; height: 100px; object-fit: cover;" %>
        <% end %>
      </div>
      <div class="col-8">
        <div class="card-body">
          <h2 class="card-title mb-1"><%= @user.name %></h2>
          <p class="card-text username">@<%= @user.username %></p>
             <%= button_to "Message", "#", method: :get, class: "btn", style: "background-color: #1295B1; color: white;" %>

        </div>
      </div>
    </div>
  </div>

  <div class="profile-info card bg-white shadow-sm rounded p-3 mb-3">
    <div class="about-me card bg-white shadow-sm rounded p-3 mb-3" style="border-radius: 20px;">
      <h3>About Me</h3>
      <p><%= @user.bio %></p>
    </div>
    <div class="favorites card bg-white shadow-sm rounded p-3 mb-3" style="border-radius: 20px;">
      <h3>Favourites</h3>
      <% if @user.favorites.any? %>
        <div class="row">
          <% @user.favorites.each do |favorite| %>
            <div class="col-md-4 mb-3">
              <div class="favorite-item card bg-white shadow-sm rounded p-3" style="border-radius: 15px;">
                <div class="row no-gutters align-items-center">
                  <div class="col-4">
                    <% if favorite.location.image.attached? %>
                      <%= link_to location_path(favorite.location) do %>
                        <%= cl_image_tag favorite.location.image.key, class: "favorite-image rounded-circle", style: "width: 60px; height: 60px; object-fit: cover;", onerror: "this.style.display='none'" %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col-8">
                    <div class="card-body p-0">
                      <h5 class="card-title mb-0"><%= link_to favorite.location.name, location_path(favorite.location), class: "text-black text-decoration-none" %></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>Add some favorites!</p>
      <% end %>
    </div>

    <% if current_user == @user %>
      <div class="user-swims card bg-white shadow-sm rounded p-3 mb-3" style="border-radius: 20px;">
      <h3>My Swim Locations</h3>
      <% if @user.locations.any? %>
        <div class="row">
          <% @user.locations.each do |location| %>
            <div class="col-md-4 mb-3">
              <div class="swim-item card bg-white shadow-sm rounded p-3 position-relative" style="border-radius: 15px;">
                <%= link_to edit_location_path(location), class: "position-absolute top-0 end-0 m-2", title: "Edit location" do %>
                  <i class="fas fa-edit text-muted" style="font-size: 0.8rem;"></i>
                <% end %>
                <div class="row no-gutters align-items-center">
                  <div class="col-4">
                    <% if location.image.attached? %>
                      <%= link_to location_path(location) do %>
                        <%= cl_image_tag location.image.key, class: "swim-image rounded-circle", style: "width: 60px; height: 60px; object-fit: cover;", onerror: "this.style.display='none'" %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="col-8">
                    <div class="card-body p-0">
                      <h5 class="card-title mb-0"><%= link_to location.name, location_path(location), class: "text-black text-decoration-none" %></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>You haven't added any swim locations yet.</p>
        <%= link_to "Add a new swim location", new_location_path, class: "btn btn-primary" %>
      <% end %>
    </div>
    <% end %>

  </div>
  <% if current_user == @user %>
    <div>
      <%= button_to destroy_user_session_path, method: :delete do %>
      <i class="fa-solid fa-door-open"></i>
      <% end %>

    </div>
    <% end %>

  </div>
