<nav class="bottom-nav">
  <div class="bottom-nav-container">
    <% if user_signed_in? %>

      <%= link_to home_path, class: "nav-item" do %>
      <div class="icon-container">
        <i class="fa-regular fa-map"></i>
      </div>

      <% end %>
      <%= link_to chats_path, class: "nav-item" do %>
      <div class="icon-container">
        <i class="fa-solid fa-comment"></i>
      </div>

      <% end %>
      <div class="icon-container swimfinder-icon-container">
        <%= image_tag 'Llogoja.png', alt: 'Swimfinder', class: 'swimfinder-icon' %>
      </div>
      <%= link_to favorites_path, class: "nav-item" do %>
      <div class="icon-container">
        <i class="fa-solid fa-heart-circle-check"></i>
      </div>

      <% end %>
      <%= link_to user_path(current_user.username), class: "nav-item" do %>
      <div class="icon-container">
        <i class="fa-regular fa-user"></i>
      </div>

      <% end %>
    <% end %>

    <% if not user_signed_in? %>
      <%= link_to new_user_session_path, class: "nav-item" do %>
      <div class="icon-container">
        <i class="fa-regular fa-user"></i>
      </div>
      <p>Sign In</p>
      <% end %>
    <% end %>

  </div>
</nav>
