<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <%= link_to chats_path, class: "btn btn-light mt-3 bg-transparent" do %>
      <i class="fas fa-arrow-left text-white"></i> <span class="text-white">Back</span>
    <% end %>
  </div>
  <div class="text-center">
    <h1 class="mb-3 text-white my-4">Now chatting with</h1>
    <h2 class="text-white my-3"><%= @user.name %></h2>
  </div>
</div>

<div class="container">
  <%= turbo_stream_from "chat_#{@chat.id}_messages" %>
  <div id="messages">
  <% @chat.messages.each do |message| %>
        <%= render "messages/message", message: message %>
  <% end %>
  </div>
</div>

<div class="message-form-container">
  <%= simple_form_for [@chat, @message],
    html: {class: "d-flex justify-content-center",
           data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
  %>
    <div class="message-form d-flex align-items-center w-100">
      <%= f.input :content,
                  input_html: { class: 'flex-grow-1 me-2', style: 'min-width: 200px;' },
                  label: false,
                  placeholder: 'Type your message...',
                  wrapper_html: { class: 'd-flex align-items-center flex-grow-1' } %>
      <%= f.submit "Send", class: "btn btn-primary send-button" %>
    </div>
  <% end %>
</div>
