
<div class="container">
<div class="text-center">
  <h1 class="mb-3 text-white my-4">Now chatting with</h1>
  <h2 class="text-white my-3"><%= @user.name %></h2>
</div>

<%= turbo_stream_from "chat_#{@chat.id}_messages" %>
<div id="messages" class="d-flex flex-column">
  <% @chat.messages.each do |message| %>
    <div class="<%= message.user == current_user ? 'align-self-end' : 'align-self-start' %> mb-3">
      <div class="message-sender"><%= message.user.name %></div>
      <div class="message-box" style="background-color: rgba(255, 255, 255, 0.7); width: 200px; height: 40px; border-radius: 10px; padding: 10px; overflow: hidden;">
        <%= message.content %>
      </div>
    </div>
  <% end %>
</div>

<%= simple_form_for [@chat, @message],
  html: {class: "d-flex",
         data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
%>
  <div class="d-flex justify-content-center align-items-center">
    <%= f.input :content, input_html: { class: 'me-2', style: 'width: 200px; height: 40px;' }, label: false, placeholder: 'Type your message...', wrapper_html: { class: 'd-flex align-items-end' } %>
    <%= f.submit "Send", class: "btn btn-primary", style: 'height: 40px; background-color: #3498db;' %>
  </div>
<% end %>
</div>
