<h1>Chat with <%= @chat.users.where.not(id: current_user.id).first.name %></h1>

<div id="messages">
  <% @messages.each do |message| %>
    <div class="message <%= message.user == current_user ? 'sent' : 'received' %>">
      <p><%= message.content %></p>
      <small><%= message.created_at.strftime("%H:%M") %></small>
    </div>
  <% end %>
</div>

<%= form_with(model: [@chat, @message], local: true) do |f| %>
  <%= f.text_area :content, placeholder: "Type your message..." %>
  <%= f.submit "Send" %>
<% end %>
