<h2 style="text-align: center; color: #ffffff; margin-top: 10px; margin-left: 35px; ">Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login-form' }) do |f| %>
  <div class="form-inputs" style="margin: 0 25px 20px 25px;">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email", class: 'form-control' } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password", class: 'form-control' } %>
    <%= f.input :remember_me, as: :boolean, label: 'Remember me' if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions" style="text-align: center; margin: 0 10px;">
    <%= f.button :submit, "Log in", class: 'btn btn-primary', style: 'border: 1px solid white; color: white; background-color: transparent; margin-bottom: 10px; ' %>
  </div>
<% end %>

<div style="text-align: center; color: #ffffff;">
  <%= render "devise/shared/links" %>
</div>
