    <div class="container mb-5">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 my-5">
          <div class="card shadow">
            <div class="card-body p-5">
              <h2 class="card-title text-center mb-4 test">Create New Location</h2>
              <%= form_with(model: @location, url: locations_path, local: true, class: "location-form") do |form| %>
                <div class="mb-4">
                  <%= form.label :name, class: "form-label fw-bold" %>
                  <%= form.text_field :name, class: "form-control form-control-lg", placeholder: "Enter location name" %>
                </div>

             <div class="mb-4">
          <%= form.label :rating, "Rating", class: "form-label fw-bold" %>
          <div class="star-rating d-flex justify-content-center" data-controller="star-rating">
            <% 1.upto(5) do |i| %>
              <%= form.radio_button :rating, i, id: "location_rating#{i}", class: "visually-hidden", data: { action: "change->star-rating#updateStars", "star-rating-target": "input" } %>
              <%= form.label "rating#{i}", class: "mx-1", title: "#{i} stars", data: { action: "mouseenter->star-rating#highlight mouseleave->star-rating#reset", "star-rating-target": "star" } do %>
                <i class="bi bi-star text-warning"></i>
              <% end %>
            <% end %>
          </div>
        </div>

                <div class="mb-4">
                  <%= form.label :address, class: "form-label fw-bold" %>
                  <div data-controller="address-autocomplete"
                       data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
                  </div>
                </div>

                <div class="mb-4">
                  <%= form.label :image, "Upload Image", class: "form-label fw-bold" %>
                  <%= form.file_field :image, class: "form-control form-control-lg", accept: "image/*" %>
                </div>

                <div class="d-grid gap-2 mt-5">
                  <%= form.submit "Create Location", class: "btn btn-primary btn-lg" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
